PreferredAuthentications publickey
ForwardAgent yes
User root

Host docker
Hostname 172.16.2.2
User gearnode

Host github.com
ForwardAgent no
User gearnode
Hostname github.com

Host bastion.frimin.fr
Host bastion.exograd.net
Host *.exograd.internal
ProxyJump bastion.exograd.net
